#headerDiv {
    height: 115px;
    background-color: rgba(212, 24, 24, 0.3);
}

#mapid {
    height: 500px;
    width: 440px
}

#wrapper {
    height: 60px;
    width: 100%;
}

#titleLeft {
    text-align: center;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    float: left;
    width: 50%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

#titleRight {
    text-align: center;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    float: right;
    width: 50%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.headerText {
    height: 40px;
    line-height: 60px;
    text-align: center;
    color: rgba(10, 110, 240, 1);
    font-size: 2em;
}

.subheaderText {
    text-align: center;
    color: rgba(10, 110, 240, 1);
    font-size: 1em;
}

.Dem {
    stroke: #000000;
    stroke-width: .08%;
    fill: #0000ff;
    stroke-linecap:butt;
    stroke-miterlimit:2;
    stroke-linejoin:round;
}

.Rep {
    stroke: #000000;
    stroke-width: .08%;
    fill: #ff0000;
    stroke-linecap:butt;
    stroke-miterlimit:2;
    stroke-linejoin:round;
}

.hover {
    opacity: 0.5;
}

.info-block {
    position: absolute;
    top: 530px;
    right: 25px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}